<header id="header" data-current-skin={{mactrl.currentSkin}} data-ng-include="'template/header.html'"
        data-ng-controller="headerCtrl as hctrl"></header>

<section id="main">

    <section id="content" ng-controller="readerController">

        <div class="container">
            <div class="block-header">
                <h4>
                    <a ui-sref="home" href="#">
                        <i class="zmdi zmdi-arrow-left zmdi-hc-fw"></i>Hub Dashboard
                    </a>
                </h4>


            </div>

            <div class="row">
                <div class="col-sm-8">
                    <div class="card">
                        <div class="card-header ch-alt">
                            <h2>
                                Conduct a new experiment using <span class="f-500 c-red">{{name}} ({{ip}})</span>
                            </h2>

                            <ul class="actions">
                                <li>
                                    <a href="">
                                        <i class="zmdi zmdi-settings"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>

                        <div class="card-body card-padding text-center">
                            <div class="btn-group btn-group-lg" uib-dropdown>
                                <button type="button" class="btn btn-success" ng-disabled="isReading" ng-click="start(0)">Start</button>
                                <button type="button" class="btn btn-success dropdown-toggle" ng-disabled="isReading" uib-dropdown-toggle>
                                    <span class="caret"></span>
                                    <span class="sr-only">Split button dropdowns</span>
                                </button>
                                <ul class="dropdown-menu">
                                    <li><a href="" ng-click="start(10)">10s</a></li>
                                    <li><a href="" ng-click="start(30)">30s</a></li>
                                    <li><a href="" ng-click="start(60)">60s</a></li>
                                    <li><a href="" ng-click="start(90)">90s</a></li>
                                    <li><a href="" ng-click="start(120)">120s</a></li>
                                    <li><a href="" ng-click="start(150)">150s</a></li>
                                    <li><a href="" ng-click="start(180)">180s</a></li>
                                    <li><a href="" ng-click="start(240)">240s</a></li>
                                    <li><a href="" ng-click="start(300)">300s</a></li>
                                    <li><a href="" ng-click="start(360)">360s</a></li>
                                </ul>
                            </div>
                                &nbsp;&nbsp;
                            <button class="btn btn-lg bgm-red waves-effect" ng-click="stop()" ng-disabled="!isReading">
                                Stop
                            </button>
                        </div>


                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="card">
                        <div class="card-body bgm-bluegray  card-padding text-center" style="height:145px; text-align:center;">
                            <h1 style="color:white;padding-top: 20px;">
                                <i class="zmdi zmdi-timer" ng-show="isReading"></i>
                                <i class="zmdi zmdi-timer-off" ng-show="!isReading"></i>
                                {{elapse}}s
                            </h1>
                        </div>
                    </div>
                </div>
            </div>




            <div class="card">
                <div class="card-header ch-alt">
                    <h2>Experiment Records | <span class="f-500 c-red">Focus on: {{focusOn.marker}}</span>
                        <small>This table records all experiments you started.</small>
                    </h2>
                    <ul class="actions">
                        <li>
                            <a href="" ng-click="load()">
                                <i class="zmdi zmdi-refresh"></i>
                            </a>
                        </li>
                        <li>
                            <a href="" ng-click="cleandb()">
                                <i class="zmdi zmdi-delete" ></i>
                            </a>
                        </li>
                    </ul>

                </div>

                <div class="card-body card-padding">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="zmdi zmdi-search zmdi-hc-fw"></i></span>
                        <div class="fg-line">
                            <input type="text" class="form-control" placeholder="Filtering experiment" ng-model="expFilter">
                        </div>
                    </div>
                    <table class="table table-inner table-vmiddle">
                        <thead>
                        <tr>
                            <th style="width: 20px">Flag</th>
                            <th style="width: 60px">Index</th>
                            <th>Marker</th>
                            <th style="width: 60px">Amount</th>
                            <th style="width: 60px">Interval</th>
                            <th style="width: 120px">Started Time</th>
                            <th style="width: 60px">Actions</th>
                        </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="experiment in experiments | filter:filterExperiment" style="cursor:pointer" ng-dblclick="focus(experiment)"
                                ng-class="{'active':experiment.current}">
                                <td class="f-500 text-center c-red">
                                    <i class="zmdi zmdi-flag" ng-show="experiment.current"></i>
                                </td>
                                <td class="f-500 c-cyan">{{$index+1}}</td>
                                <td >{{experiment.marker}}</td>
                                <td class="f-500 c-cyan">{{experiment.amout}}</td>
                                <td class="f-500 c-cyan">{{experiment.interval/1000|number:0}}</td>
                                <td class="f-500 c-cyan">{{experiment.startTime|date:'short'}}</td>
                                <td class="f-500">
                                    <div class="lv-actions actions dropdown" uib-dropdown="">
                                        <a href="" uib-dropdown-toggle="" aria-expanded="false" class="dropdown-toggle"
                                           aria-haspopup="true">
                                            <i class="zmdi zmdi-more-vert"></i>
                                        </a>

                                        <ul class="dropdown-menu dropdown-menu-right">
                                            <li href="" ng-click="focus(experiment)">
                                                <a href="" >
                                                    <i class="zmdi zmdi-zoom-in zmdi-hc-fw"></i>Focus &nbsp;&nbsp;
                                                </a>
                                            </li>
                                            <li href="" ng-click="download(experiment,'json')">
                                                <a>
                                                    <i class="zmdi zmdi-download zmdi-hc-fw"></i>Download as JSON
                                                </a>
                                            </li>
                                            <li href="" ng-click="download(experiment,'csv')">
                                                <a>
                                                    <i class="zmdi zmdi-download zmdi-hc-fw"></i>Download as CSV
                                                </a>
                                            </li>
                                            <li href="" ng-click="discard(experiment)">
                                                <a href="" ng-click="removeAgent(agent.ip)">
                                                    <i class="zmdi zmdi-delete zmdi-hc-fw"></i>Discard &nbsp;&nbsp;
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            <div class="card">
                <div class="card-header">
                    <h2>Filter <small>Filtering stray tags that never should be recorded.</small></h2>
                </div>

                <div class="card-body card-padding">
                    <label class="checkbox checkbox-inline m-r-20">
                        <input type="checkbox" value="option1">
                        <i class="input-helper"></i>
                        1
                    </label>
                </div>
            </div>

            <div class="card">
                <div class="card-header bgm-green">
                    <h2>Basic Examples <small>With lease settings enabled.</small></h2>
                </div>

                <div class="card-body">
                    <div class="table-responsive">
                        <table ng-table="tctrl.tableBasic" class="table table-striped table-vmiddle">
                            <tr ng-repeat="w in $data">
                                <td data-title="'ID'">
                                    {{ w.id }}
                                </td>
                                <td data-title="'Name'">
                                    {{ w.name }}
                                </td>
                                <td data-title="'Email'">
                                    {{ w.email }}
                                </td>
                                <td data-title="'Username'">
                                    {{ w.username }}
                                </td>
                                <td data-title="'Contact'">
                                    {{ w.contact }}
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-4">
                    <div class="card">
                        <div class="card-header bgm-green">
                            <h2>Default Example
                                <small>You can type anything here...</small>
                            </h2>

                            <ul class="actions">
                                <li class="dropdown" uib-dropdown>
                                    <a href="" uib-dropdown-toggle aria-expanded="false">
                                        <i class="zmdi zmdi-more-vert"></i>
                                    </a>

                                    <ul class="dropdown-menu dropdown-menu-right">
                                        <li>
                                            <a href="">Refresh</a>
                                        </li>
                                        <li>
                                            <a href="">Manage Widgets</a>
                                        </li>
                                        <li>
                                            <a href="">Widgets Settings</a>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </div>

                        <div class="card-body card-padding">
                            Cras leo sem, egestas a accumsan eget, euismod at nunc. Praesent vel mi blandit, tempus ex
                            gravida, accumsan dui. Sed sed aliquam augue. Nullam vel suscipit purus, eu facilisis ante.
                            Mauris nec commodo felis.
                        </div>
                    </div>
                </div>



                <div class="col-sm-8">
                    <div class="card">
                        <div class="card-header ch-alt bgm-green">
                            <h2>Alternative Example
                                <small>You can type anything here...</small>
                            </h2>

                            <ul class="actions">
                                <li>
                                    <a href="">
                                        <i class="zmdi zmdi-refresh-alt"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="">
                                        <i class="zmdi zmdi-download"></i>
                                    </a>
                                </li>
                                <li class="dropdown" uib-dropdown>
                                    <a href="" uib-dropdown-toggle>
                                        <i class="zmdi zmdi-more-vert"></i>
                                    </a>

                                    <ul class="dropdown-menu dropdown-menu-right">
                                        <li>
                                            <a href="">Change Date Range</a>
                                        </li>
                                        <li>
                                            <a href="">Change Graph Type</a>

                                        </li>
                                        <li>
                                            <a href="">Other Settings</a>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </div>

                        <div class="card-body card-padding">
                            Cras leo sem, egestas a accumsan eget, euismod at nunc. Praesent vel mi blandit, tempus ex
                            gravida, accumsan dui. Sed sed aliquam augue. Nullam vel suscipit purus, eu facilisis ante.
                            Mauris nec commodo felis.
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

</section>

<!--<footer id="footer" data-ng-include="'template/footer.html'"></footer>-->