
<div class="modal-content">
    <div class="modal-header bgm-blue">
        <h4 class="modal-title" style="color: white;">Add or edit reader agent</h4>
    </div>
    <div class="modal-body" style="padding-top: 10px;">
        <div class="form-group has-success has-feedback">
            <label class="control-label" for="ip">IP Address:</label>
            <div class="fg-line">
                <input type="text" class="form-control" id="ip"
                       ng-disabled="isEditing" ng-model="agent.ip">
            </div>
        </div>
        <div class="form-group has-success has-feedback">
            <label class="control-label" for="name">Name:</label>
            <div class="fg-line">
                <input type="text" class="form-control" id="name"
                       ng-model="agent.name">
            </div>
        </div>

        <div class="form-group has-success has-feedback">
            <label class="control-label" for="remark">Remark:</label>
            <div class="fg-line">
                <input type="text" class="form-control" id="remark"
                       ng-model="agent.remark">
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn  btn-success waves-effect"
                ng-click="ok(agent)">Save
        </button>
        <button type="button" class="btn btn-link waves-effect"
                ng-click="cancel()">Cancel
        </button>
    </div>
</div>



